/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: black;
}

p {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.key-p {
  font-size: 5rem;
  padding-top: 4%;
  padding-left: 50%;
}

@media (max-width: 1200px) {
  .key-p {
    padding-left: 30%;
  }
}

.guidr-p {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 10rem;
  padding-top: 4%;
  padding-left: 20%;
}

.tech-p {
  font-family: 'Roboto', sans-serif;
  font-size: 6rem;
  padding-top: 70%;
  padding-left: 6%;
}

.dark-p {
  font-family: 'Staatliches', cursive;
  font-size: 6rem;
  padding-top: 80%;
  padding-left: 50%;
}

.keyback-p {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 6rem;
  padding-top: 5%;
  padding-left: 20%;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
  width: 51px;
}

a:hover {
  color: black;
}

.key-a:hover {
  color: #ff54f8;
}

.guidr-a:hover {
  color: #1f9d55;
}

.tech-a:hover {
  color: #ebcfcf;
}

.dark-a:hover {
  color: #fbff93;
}

.keyback-a:hover {
  color: #caff00;
}

/* .key-logo {
  margin-top: 100%;
  margin-left: -15%;
  width: 70px;
  height: 70px;
}

.key-logo:hover {
  cursor: pointer;
}

@media (max-width: 700px) {
  .key-logo {
    margin-top: 500%;
  }
} */

.nav-wrapper {
  padding-top: 6%;
  padding-left: 6%;
  display: flex;
  flex-direction: column;
}

.image-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .row {
    flex-direction: column;
  }
}

.no-overflow {
  overflow: hidden;
}

.one {
  width: 40%;
  height: 600px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .one {
    width: 100%;
  }
}

.item-one {
  width: 100%;
  height: 100%;
  background-image: url('https://i.imgur.com/0INDlRm.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  transition: transform 0.2s;
}

.two {
  width: 60%;
  height: 600px;
}

@media (max-width: 1200px) {
  .two {
    width: 100%;
  }
}

.item-two {
  width: 100%;
  height: 100%;
  background-image: url('https://i.imgur.com/FQvZ317.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 50%;
  transition: transform 0.2s;
}

@media (max-width: 1200px) {
  .item-two {
    background-position: 50% 50%;
  }
}

@media (max-width: 600px) {
  .item-two {
    background-position: 30% 50%;
  }
}

.four {
  width: 33%;
  height: 600px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .four {
    width: 100%;
  }
}

.item-four {
  width: 100%;
  height: 100%;
  background-image: url('https://i.imgur.com/4J0L113.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  transition: transform 0.2s;
}

.five {
  width: 33%;
  height: 600px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .five {
    width: 100%;
  }
}

.item-five {
  width: 100%;
  height: 100%;
  background-image: url('https://i.imgur.com/j5rImCr.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 50%;
  transition: transform 0.2s;
}

.six {
  width: 50%;
  height: 600px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .six {
    width: 100%;
  }
}

.item-six {
  width: 100%;
  height: 100%;
  background-image: url('https://i.imgur.com/jFVlJoD.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  transition: transform 0.2s;
}

.eight {
  width: 100%;
  height: 600px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .eight {
    width: 100%;
  }
}

.item-eight {
  width: 100%;
  height: 100%;
  background-image: url('https://i.imgur.com/0D010zX.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
  transition: transform 0.2s;
}

.vid-wrapper {
  width: 50%;
  height: 600px;
}

@media (max-width: 1200px) {
  .vid-wrapper {
    width: 100%;
    cursor: pointer;
  }
}

.vid-wrapper-two {
  width: 60%;
  height: 600px;
}

@media (max-width: 1200px) {
  .vid-wrapper-two {
    width: 100%;
    cursor: pointer;
  }
}

.vid {
  min-width: 100%;
  min-height: 100%;
  background-color: black;
}

@media (max-width: 1200px) {
  .vid {
    display: none;
  }
}

.mobile-key {
  display: none;
}

@media (max-width: 1200px) {
  .mobile-key {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('https://i.imgur.com/DiFHNjd.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    transition: transform 0.2s;
  }
}

.mobile-game {
  display: none;
}

@media (max-width: 1200px) {
  .mobile-game {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('https://i.imgur.com/mLruVp7.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    transition: transform 0.2s;
  }
}

.fab {
  margin-top: 3px;
  font-size: 60px;
  color: white;
  transition: 0.5s;
  animation: fade-in 2.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fas {
  font-size: 54px;
  color: white;
  transition: 0.5s;
}

.fadesite {
  animation: fade-in 3.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade {
  animation: fade-in 4.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade2 {
  animation: fade-in 5.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade3 {
  animation: fade-in 6.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade4 {
  animation: fade-in 7.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fa-file-pdf {
  margin-top: 4px;
  font-size: 70px;
}

/* @media (max-width: 600px) {
  .fa-file-pdf {
    margin-top: 550%;
  }
} */

.fa-chevron-circle-right {
  font-size: 80px;
  margin-top: 90%;
  margin-left: 50%;
}

.chev-black {
  color: black;
}

.chev-white {
  color: white;
}

.fa-github-square:hover {
  color: black;
}

.fa-linkedin:hover {
  color: black;
}

.fa-envelope:hover {
  color: black;
}

.fa-file-pdf:hover {
  color: #c9e265;
}

@media (max-width: 1000px) {
  .fa-github-square:hover,
  .fa-linkedin:hover,
  .fa-envelope:hover,
  .fa-file-pdf:hover {
    color: white;
  }
}

@media (min-width: 1000px) {
  .zoom:hover {
    transform: scale(1.1);
  }
}
